.traffic-light {
    display: inline-flex;
    flex-direction: column;
    padding: 8px;
    background-color: #333;
    border-radius: 8px;
    margin: 16px;
}

.light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 6px 0;
    border: 2px solid #111;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    transition: opacity 0.2s ease-in-out;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    min-height: 100vh;
    background: #222;
    color: white;
    font-family: sans-serif;
}

.info {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ddd;
}
